<link rel="stylesheet" href="../../../resources/assets/sass/app.scss">
<script src="../js/dataTables.bootstrap.min.js"></script>
<div class="animated fadeIn" ng-controller="reservationAllControl">
    <div style="margin-bottom: 20px; font-size: 1.1em; font-weight: 300; font-family: 微软雅黑">
        共有<span style="font-weight: 200; font-size: 1.6em" ng-bind="count"></span>条预约。
    </div>
    <div class="row">
        <table id="all_table" class="table table-striped table-hover">
            <thead>
            <tr style="font-weight: 600; font-family: 微软雅黑">
                <td>#</td>
                <td>楼层</td>
                <td>桌号</td>
                <td>座位号</td>
                <td>预约到达时间</td>
                <td>提交时间</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reservation in reservation_all">
                <td ng-bind="reservation.id"></td>
                <td ng-bind="reservation.floor.floor_name"></td>
                <td ng-bind="reservation.table_id"></td>
                <td ng-bind="reservation.seat_id"></td>
                <td ng-bind="reservation.arrive_at"></td>
                <td ng-bind="reservation.created_at"></td>
                <td ng-bind-html="(reservation.status[1] + (reservation.status[1]=='等待前往...' ? generate_button(reservation.id) : '')) | to_trusted" ng-style="generate_color(reservation.status[0])"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
